<div id="app">
  <nav class="sticky-top navbar navbar-expand navbar-dark bg-dark ">
    <ul class="navbar-nav mr-auto " *ngIf="isLoggedIn"  routerLinkActive="active" >
      <li class="nav-item" >
          <div class="dropdown" ngbDropdown>
            <button class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" ngbDropdownToggle>Utwórz</button>
            <div ngbDropdownMenu="dropdownMenuButton">
              <a class="dropdown-item" ngbDropdownItem routerLink="/create-diet">Utwórz dietę</a>
              <a class="dropdown-item" ngbDropdownItem routerLink="/create-meal">Utwórz posiłek</a>
            </div>
          </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="diet">Diety</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="meal">Posiłki</a>
      </li>
    </ul>

    <a href="#" class="navbar-brand text-center">Dietter</a>

    <ul class="navbar-nav ml-auto " *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a class="nav-link" routerLink="register">Zarejestruj się</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login">Zaloguj się</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">Mój profil</a>
      </li>
      <li class="nav-item">
        <button class="btn btn-secondary" (click)="logout()">Wyloguj</button>
    </ul>
  </nav>

  <div class="container align-items-center" >
    <div class="align-items-center">
      <div>
      <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
